@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

h1{
    font-family: 'Permanent Marker', cursive;
    margin: 0;
}

h2 {
    color: red;
    font-family: 'Oswald';
    font-size: 1.5em;
    margin: 0;
    margin-bottom: .5em;
}

p{
    margin: 0;
}

body{
    font-family: "Lato",sans-serif;
    background-image: url("../images/stocks.jpg");
}

.portText{
    font-weight: bold;
    font-size: 2em;
}

/* ******************* Forms ******************* */


.formBlock{
    margin: 0 auto;
    margin-top: 1em;
}
.formBlock input{
    width: 15em;
    margin: .10em;
}

input {
    margin-top: .10em;
    margin-bottom: 1em;
}

table {
    width: 100%;
    text-align: left;
    
    
}
table, th, td{
    border: 1px solid black;
}

th, td{
    padding: 1em;
}

.userInfo{
    list-style-type: none;
}




/* ******************* Navigation Bar ******************* */
.topnav {
    
    overflow: hidden;
  }

.topnav form{
    /*display: inline-block;*/
    float: left;
}

.topnav input{
    height: 3.2em;
    
}

  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(46, 147, 194);
    color: white;
  }
/********* VALIDATION *********/
.validation {
    color: red;
}

/* ******************* Other Divs ******************* */
  .stockSearch,.forms{      
      padding: 1em;
  }
  .stockSearch p{
      margin: 0;
      margin-bottom: 1em;
  }
.welcome{
   margin-bottom: 1.5em;
}

/* ************** Login page ***************** */

.login {
    background-color: rgb(212, 222, 226);
    text-align: center;
    width: 20em;
    margin: 0 auto;
    margin-bottom: 2em;
    padding:  1em 2em 1em 2em;
    border-radius: 25px;
    border: 3px solid #323BA4;
}

.signup{
    background-color: rgb(212, 222, 226);
    text-align: center;
    width: 30em;
    margin: 0 auto;
    margin-bottom: 2em;
    padding:  1em 2em 1em 2em;
    border-radius: 25px;
    border: 3px solid #323BA4;
}

.instructions{
    
    width: 100%;
    margin-bottom: 1em;
    margin-left: 2em;
    

}

.wrapper{
    background-image: url("../images/stocks.jpg");
}

.pageIntroLogin{
    text-align: left;
}
/* ************** Home Page and others ***************** */
.main{
    width: 80%;
    background-color: #f5f2d0;
    margin: 0 auto;
    padding: 1em;
    border-radius: 25px;
}

form{
    border-radius: 25px; 
}

.new1{
    border-top: 1px solid red; 
}

footer{
    text-align: center;
}