<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <title>Document</title>
</head>
<body>
    <div class="form-style-10">
        <h1>Welcome to Stock Trader<span>It's time to get rich!</span></h1>
    <form action='../login' method='post'>
        <div class="section">Login</div>
        <% if(locals.error){ %><span class='errorMessage'><%=error%></span><% }else{ %><% } %>
        <div class="inner-wrap">
           
            <label>Username or email<input required type="text" id = 'username' name='username'></label>               
            <label>Password<input required type="password" id='password' name='password' ></label>               
        </div>
        <div class="button-section">
            <button type='submit'>Login</button>
        </div>
        
        <div class="inner-wrap">
            <a href="/toRegister">Not a member? Click here to sign up today</a>           
        </div>
    </form>

    
    </div>
</body>
</html>